# Default values for syslog-ng.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: lscr.io/linuxserver/syslog-ng
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion.
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

# Environment variables for linuxserver/syslog-ng image
env:
  # Timezone - see https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  TZ: "Etc/UTC"
  # If set to true, container will log to stdout, otherwise will log to /config/log/
  LOG_TO_STDOUT: "true"

# syslog-ng configuration
# The main configuration file will be mounted at /config/syslog-ng.conf
config:
  # Set to true to create a ConfigMap with syslog-ng.conf
  enabled: true
  # syslog-ng.conf content
  # This is a basic configuration that listens on UDP/TCP/TLS and logs to files
  syslogNgConf: |
    @version: 4.8
    @include "scl.conf"

    # Sources
    source s_net {
        network(
            ip(0.0.0.0)
            port(5514)
            transport("udp")
        );
        network(
            ip(0.0.0.0)
            port(5514)
            transport("tcp")
        );
    };

    # Destinations
    destination d_messages {
        stdout();
    };

    # Log paths - connect sources to destinations
    log {
        source(s_net);
        destination(d_messages);
    };

  # Use an existing ConfigMap instead of creating one
  # If set, the ConfigMap will not be created and this name will be used
  existingConfigMap: ""

# Container command and args
# If not specified, the image default command/args will be used
command: []
# command:
#   - /init

args: []
# args:
#   - --verbose

serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

podAnnotations: {}
podLabels: {}

podSecurityContext:
  seccompProfile:
    type: RuntimeDefault

securityContext:
  # s6-overlay needs to set supplementary groups and chown files
  allowPrivilegeEscalation: false
  capabilities:
    add:
      - SETGID
      - SETUID
      - CHOWN
    drop:
      - ALL
  readOnlyRootFilesystem: true

service:
  type: ClusterIP
  annotations: {}
  # Ports list: each port defines name, port, targetPort, and protocol
  ports:
    - name: syslog-udp
      port: 514
      targetPort: 5514
      protocol: UDP
    - name: syslog-tcp
      port: 514
      targetPort: 5514
      protocol: TCP

resources:
limits:
  cpu: 500m
  memory: 512Mi
requests:
  cpu: 100m
  memory: 128Mi

livenessProbe:
  enabled: false
  # Using syslog-ng-ctl stats command to check if syslog-ng is running
  exec:
    command:
      - /usr/sbin/syslog-ng-ctl
      - stats
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1

readinessProbe:
  enabled: false
  # Using syslog-ng-ctl stats command to check if syslog-ng is ready
  exec:
    command:
      - /usr/sbin/syslog-ng-ctl
      - stats
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1

priorityClassName: ""

runtimeClassName: ""

nodeSelector: {}

tolerations: []

affinity: {}
# Example affinity configuration:
# podAntiAffinity:
#   preferredDuringSchedulingIgnoredDuringExecution:
#     - weight: 100
#       podAffinityTerm:
#         labelSelector:
#           matchExpressions:
#             - key: app.kubernetes.io/name
#               operator: In
#               values:
#                 - syslog-ng
#         topologyKey: kubernetes.io/hostname

## Topology spread constraints for pod distribution
## Ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/
topologySpreadConstraints: []
# Example topology spread constraints:
# - maxSkew: 1
#   topologyKey: topology.kubernetes.io/zone
#   whenUnsatisfiable: ScheduleAnyway
#   labelSelector:
#     matchLabels:
#       app.kubernetes.io/name: syslog-ng
#       app.kubernetes.io/instance: RELEASE-NAME
# - maxSkew: 1
#   topologyKey: kubernetes.io/hostname
#   whenUnsatisfiable: DoNotSchedule
#   labelSelector:
#     matchLabels:
#       app.kubernetes.io/name: syslog-ng
#       app.kubernetes.io/instance: RELEASE-NAME

podDisruptionBudget:
  enabled: false
  # minAvailable: 1
  # maxUnavailable: 1

# Additional volumes on the output Deployment definition.
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# Additional volumeMounts on the output Deployment definition.
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

# Extra environment variables
extraEnv: {}
# extraEnv:
#   - name: FOO
#     value: "bar"

# Extra environment variables from secrets
extraSecretEnv: {}
# extraSecretEnv:
#   - name: SECRET_VAR
#     secretName: my-secret
#     secretKey: my-key
