nameOverride: ""
fullnameOverride: ""
installCRDs: true

# Synchonize your values from external-secrets Helm Chart with the ones below
crds:
  createClusterExternalSecret: true
  createClusterSecretStore: true
  createClusterGenerator: true
  createPushSecret: true
  createClusterPushSecret: true
  annotations: {}
  conversion:
    enabled: false
webhook:
  certManager:
    enable: false
    addInjectorAnnotations: false
