apiVersion: v2
description: Elasticsearch cluster - a hat chart for several elasticsearch charts
home: https://github.com/wiremind/wiremind-helm-charts/tree/main/charts/elasticsearch-cluster
name: elasticsearch-cluster
version: 3.5.7
appVersion: 7.16.3
dependencies:
  - name: elasticsearch
    repository: "https://helm.elastic.co"
    version: "*"
    alias: es-data-hot
    condition: es-data-hot.enabled
  - name: elasticsearch
    repository: "https://helm.elastic.co"
    version: "*"
    alias: es-data-warm
    condition: es-data-warm.enabled
  - name: elasticsearch
    repository: "https://helm.elastic.co"
    version: "*"
    alias: es-data-cold
    condition: es-data-cold.enabled
  - name: elasticsearch
    repository: "https://helm.elastic.co"
    version: "*"
    alias: es-master
    condition: es-master.enabled
  - name: elasticsearch
    repository: "https://helm.elastic.co"
    version: "*"
    alias: es-ingest
    condition: es-ingest.enabled
  - name: kibana
    repository: "https://helm.elastic.co"
    version: "*"
    condition: kibana.enabled
  - name: prometheus-elasticsearch-exporter
    repository: "https://prometheus-community.github.io/helm-charts"
    version: "*"
    condition: prometheus-elasticsearch-exporter.enabled
  - name: cerebro
    repository: "https://wiremind.github.io/wiremind-helm-charts"
    version: "*"
    condition: cerebro.enabled
sources:
  - https://github.com/wiremind/wiremind-helm-charts/tree/main/charts/elasticsearch-cluster
  - https://github.com/elastic/helm-charts/tree/master/elasticsearch
  - https://github.com/elastic/elasticsearch
icon: https://static-www.elastic.co/v3/assets/bltefdd0b53724fa2ce/blt5ebe80fb665aef6b/5ea8c8f26b62d4563b6ecec2/brand-elasticsearch-220x130.svg
maintainers:
  - name: desaintmartin
    email: cdesaintmartin@wiremind.io
  - name: machine424
    email: amrini@wiremind.io
  - name: francoisminaud
    email: fminaud@wiremind.io
