{{- if .Values.keystore.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Release.Name }}-elasticsearch-s3
  labels:
{{ include "elasticsearch-cluster.labels" . | indent 4 }}
stringData:
  s3.client.default.access_key: {{ .Values.keystore.accessKey | quote }}
  s3.client.default.secret_key: {{ .Values.keystore.secretKey | quote }}
{{- end }}
