apiVersion: v2
description: Apache Druid is a high performance real-time analytics database.
name: druid
type: application
version: 1.1.0
appVersion: 26.0.0
home: https://druid.apache.org/
icon: https://druid.apache.org/img/favicon.png
maintainers:
  - name: Wiremind
    url: https://github.com/wiremind/wiremind-helm-charts
sources:
  - https://github.com/apache/druid
  - https://github.com/wiremind/wiremind-helm-charts/tree/main/charts/druid
keywords:
  - olap
  - database
  - analytics
dependencies:
  - name: zookeeper
    version: 10.0.0
    repository: https://charts.bitnami.com/bitnami
    condition: zookeeper.enabled
  - name: postgresql
    version: 11.6.10
    repository: https://charts.bitnami.com/bitnami
    condition: postgresql.enabled
  - name: mysql
    version: 9.11.1
    repository: https://charts.bitnami.com/bitnami
    condition: mysql.enabled
  - name: kube-hpa-scale-to-zero
    version: 0.3.0
    repository: https://machine424.github.io/kube-hpa-scale-to-zero
    condition: kube-hpa-scale-to-zero.enabled
  - alias: extra-objects
    name: raw
    version: 0.1.0
    repository: https://wiremind.github.io/wiremind-helm-charts
    condition: extra-objects.enabled
