{{- if .Values.indexer.enabled }}

{{- range $categoryName, $categoryValue := .Values.indexer.categories }}

{{- if hasKey $categoryValue "enabled" | ternary $categoryValue.enabled true }}

---

kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "druid.indexer.fullname" (dict "categoryName" $categoryName "context" $) }}-config
  labels:
{{ include "druid.common-labels" $ | indent 4 }}
    app.kubernetes.io/part-of: indexer
    app.kubernetes.io/component: indexer-{{ $categoryName }}
data:
{{ toYaml $categoryValue.envVars | indent 2 }}

{{- end }}

{{- end }}

{{- $indexerDefaults := $.Values.indexer.defaults }}

---

kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "druid.fullname" $ }}-indexer-config
  labels:
{{ include "druid.common-labels" $ | indent 4 }}
    app.kubernetes.io/part-of: indexer
data:
{{ toYaml $indexerDefaults.envVars | indent 2 }}

{{- end }}
