{{- if .Values.indexer.enabled }}

{{- range $categoryrName, $categoryValue := .Values.indexer.categories }}

{{- if $categoryValue.podDisruptionBudget }}

apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "druid.indexer.fullname" (dict "categoryrName" $categoryrName "context" $) }}
  labels:
{{ include "druid.common-labels" $ | indent 4 }}
    app.kubernetes.io/part-of: indexer
    app.kubernetes.io/component: indexer-{{ $categoryrName }}
spec:
  selector:
    matchLabels:
{{ include "druid.common-matchLabels" $ | indent 6 }}
      app.kubernetes.io/part-of: indexer
      app.kubernetes.io/component: indexer-{{ $categoryrName }}
{{ toYaml $categoryValue.podDisruptionBudget | indent 2 }}

{{- end }}

---

{{- end }}

{{- end }}