{{- if .Values.router.enabled }}

{{- if .Values.router.ingress.enabled -}}
{{- $fullName := include "druid.router.fullname" . -}}
{{- $ingressPath := .Values.router.ingress.path -}}


apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ $fullName }}
  labels:
{{ include "druid.common-labels" . | indent 4 }}
    app.kubernetes.io/component: {{ .Values.router.name }}
{{- with .Values.router.ingress.annotations }}
  annotations:
{{ toYaml . | indent 4 }}
{{- end }}
spec:
{{- with .Values.router.ingress.ingressClassName }}
  ingressClassName: {{ . }}
{{- end }}
{{- with .Values.router.ingress.tls }}
  tls:
  {{- range . }}
    - hosts:
      {{- range .hosts }}
        - {{ . | quote }}
      {{- end }}
      secretName: {{ .secretName }}
  {{- end }}
{{- end }}
  rules:
  {{- range .Values.router.ingress.hosts }}
    - host: {{ . | quote }}
      http:
        paths:
          - path: {{ $ingressPath }}
            pathType: ImplementationSpecific
            backend:
              service:
                name: {{ $fullName }}
                port:
                  name: http
  {{- end }}


{{- end }}

{{- end }}