{{- if .Values.router.enabled }}

apiVersion: v1
kind: Service
metadata:
  name: {{ include "druid.router.fullname" . }}
  labels:
{{ include "druid.common-labels" . | indent 4 }}
    app.kubernetes.io/component: {{ .Values.router.name }}
spec:
  type: {{ .Values.router.serviceType }}
  ports:
    - port: {{ .Values.router.servicePort }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
{{ include "druid.common-matchLabels" . | indent 4 }}
    app.kubernetes.io/component: {{ .Values.router.name }}

{{- end }}