apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "buildkitd.fullname" . }}
  labels:
    app: {{ template "buildkitd.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  buildkitd.toml: |
    # See: https://docs.docker.com/build/buildkit/toml-configuration/
    # See: https://github.com/moby/buildkit/blob/master/docs/buildkitd.toml.md
    rootless = true
    debug = {{ .Values.config.debug }}

    [grpc]
      address = [ "tcp://0.0.0.0:{{ .Values.config.port }}" ]

    [worker.oci]
      enabled = true
      rootless = true
      selinux = {{ .Values.config.workerOci.selinux }}
      platforms = [{{ join "," .Values.config.workerOci.platforms }}]
      snapshotter = {{ .Values.config.workerOci.snapshotter | quote }}
      # Whether run subprocesses in main pid namespace or not, this is useful for
      # running rootless buildkit inside a container.
      noProcessSandbox = true
      {{- if .Values.config.workerOci.maxParallelism }}
      max-parallelism = {{ .Values.config.workerOci.maxParallelism }}
      {{- end }}

      {{- if .Values.config.gc.enabled }}
      gc = true
      gckeepstorage = {{ floor (mulf (mulf (trimSuffix "Gi" .Values.persistence.size) 1024) .Values.config.gc.keepstoragePercentage) }}

      {{- range $v := .Values.config.gc.policies }}
      {{- with $ }}

      [[worker.oci.gcpolicy]]
        {{- if $v.all }}
        all = {{ $v.all }}
        {{- end }}
        keepBytes = {{ $v.keepBytes | default (floor (mulf (mulf (trimSuffix "Gi" .Values.persistence.size) 1024) .Values.config.gc.keepstoragePercentage)) }}
        {{- if $v.keepDuration }}
        keepDuration = {{ $v.keepDuration }}
        {{- end }}
        {{- if $v.filters }}
        filters = [{{ join "," $v.filters }}]
        {{- end }}

      {{- end }}
      {{- end }}

      {{- else }}
      gc = false
      {{- end }}

    [worker.containerd]
      enabled = false

    # config for build history API that stores information about completed
    # build commands
    [history]
      # maxAge is the maximum age of history entries to keep, in seconds.
      maxAge = {{ .Values.config.history.maxAge }}
      # maxEntries is the maximum number of history entries to keep.
      maxEntries = {{ .Values.config.history.maxEntries }}

---

# See https://github.com/moby/buildkit/blob/master/Dockerfile

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "buildkitd.fullname" . }}-env-vars
  labels:
    app: {{ template "buildkitd.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  XDG_RUNTIME_DIR: "/run/{{ .Values.user.name }}/{{ .Values.user.uid }}"
  TMPDIR: "/home/{{ .Values.user.name }}/.local/tmp"
  BUILDKIT_HOST: "tcp://localhost:{{ .Values.config.port }}"
