apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "buildkitd.fullname" . }}
  labels:
    app: {{ template "buildkitd.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  buildkitd.toml: |
    # See: https://docs.docker.com/build/buildkit/toml-configuration/
    # See: https://github.com/moby/buildkit/blob/master/docs/buildkitd.toml.md
    rootless = true
    # root is where all buildkit state is stored.
    root = "/home/{{ .Values.user.name }}/.local/share/buildkit/"
    debug = {{ .Values.config.debug }}
    trace = {{ .Values.config.trace }}

    [log]
      # log formatter: json or text
      format = {{ .Values.config.logFormat | quote }}

    [otel]
      # OTEL collector trace socket path
      socketPath = "/run/{{ .Values.user.name }}/{{ .Values.user.uid }}/buildkit/otel-grpc.sock"

    [grpc]
      address = [ "tcp://0.0.0.0:{{ .Values.config.port }}" ]
      debugAddress = "0.0.0.0:{{ .Values.config.debugPort }}"
      uid = {{ .Values.user.uid }}
      gid = {{ .Values.user.gid }}

    [worker.oci]
      enabled = true
      rootless = true
      selinux = {{ .Values.config.workerOci.selinux }}
      platforms = [{{ join "," .Values.config.workerOci.platforms }}]
      snapshotter = {{ .Values.config.workerOci.snapshotter | quote }}
      # Whether run subprocesses in main pid namespace or not, this is useful for
      # running rootless buildkit inside a container.
      noProcessSandbox = true
      {{- if .Values.config.workerOci.maxParallelism }}
      max-parallelism = {{ .Values.config.workerOci.maxParallelism }}
      {{- end }}

      {{- if .Values.config.gc.enabled }}
      gc = true
      gckeepstorage = {{ floor (mulf (mulf (trimSuffix "Gi" .Values.persistence.size) 1024) .Values.config.gc.keepstoragePercentage) }}

      {{- range $v := .Values.config.gc.policies }}
      {{- with $ }}

      [[worker.oci.gcpolicy]]
        {{- if $v.all }}
        all = {{ $v.all }}
        {{- end }}
        keepBytes = {{ $v.keepBytes | default (floor (mulf (mulf (trimSuffix "Gi" .Values.persistence.size) 1024) .Values.config.gc.keepstoragePercentage)) }}
        {{- if $v.keepDuration }}
        keepDuration = {{ $v.keepDuration }}
        {{- end }}
        {{- if $v.filters }}
        filters = [{{ join "," $v.filters }}]
        {{- end }}

      {{- end }}
      {{- end }}

      {{- else }}
      gc = false
      {{- end }}

    [worker.containerd]
      enabled = false

    # config for build history API that stores information about completed
    # build commands
    [history]
      # maxAge is the maximum age of history entries to keep, in seconds.
      maxAge = {{ .Values.config.history.maxAge }}
      # maxEntries is the maximum number of history entries to keep.
      maxEntries = {{ .Values.config.history.maxEntries }}

    {{- if .Values.config.registries }}
    {{- range $registry := .Values.config.registries }}
    # registry configures a new Docker register used for cache import or output.
    [registry."{{ $registry.registry }}"]
      {{- if $registry.mirrors }}
      # mirror configuration to handle path in case a mirror registry requires a /project path rather than just a host:port
      mirrors = [{{ range $i, $mirror := $registry.mirrors }}{{ if $i }}, {{ end }}{{ $mirror | quote }}{{ end }}]
      {{- end }}
      {{- if $registry.http }}
      # Use plain HTTP to connect to the mirrors.
      http = {{ $registry.http }}
      {{- end }}
      {{- if $registry.insecure }}
      # Use HTTPS with self-signed certificates. Do not enable this together with `http`.
      insecure = {{ $registry.insecure }}
      {{- end }}
      {{- if $registry.ca }}
      # If you use token auth with self-signed certificates,
      # then buildctl also needs to trust the token provider CA (for example, certificates that are configured for registry)
      # because buildctl pulls tokens directly without daemon process
      ca = [{{ range $i, $ca := $registry.ca }}{{ if $i }}, {{ end }}{{ $ca | quote }}{{ end }}]
      {{- end }}
      {{- if $registry.keypairs }}
      {{- range $keypair := $registry.keypairs }}
      [[registry."{{ $registry.registry }}".keypair]]
        key = {{ $keypair.key | quote }}
        cert = {{ $keypair.cert | quote }}
      {{- end }}
      {{- end }}

    {{- end }}
    {{- end }}

---

# See https://github.com/moby/buildkit/blob/master/Dockerfile

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "buildkitd.fullname" . }}-env-vars
  labels:
    app: {{ template "buildkitd.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
data:
  XDG_RUNTIME_DIR: "/run/{{ .Values.user.name }}/{{ .Values.user.uid }}"
  TMPDIR: "/run/{{ .Values.user.name }}/{{ .Values.user.uid }}"
  BUILDKIT_HOST: "tcp://localhost:{{ .Values.config.port }}"
  OTEL_SERVICE_NAME: {{ template "buildkitd.fullname" . }}
  OTEL_METRIC_EXPORT_INTERVAL: {{ .Values.config.otel.metrics.export_interval | quote }}
  OTEL_METRIC_EXPORT_TIMEOUT: {{ .Values.config.otel.metrics.export_timeout | quote }}
  OTEL_METRICS_EXPORTER: {{ .Values.config.otel.metrics.exporter | quote }}
  OTEL_EXPORTER_OTLP_PROTOCOL: {{ .Values.config.otel.common.protocol | quote }}
  OTEL_RESOURCE_ATTRIBUTES: {{ .Values.config.otel.resourceAttr | quote }}
  OTEL_EXPORTER_OTLP_ENDPOINT: {{ .Values.config.otel.common.endpoint | quote }}
  OTEL_EXPORTER_OTLP_TRACES_ENDPOINT: {{ .Values.config.otel.traces.endpoint | quote }}
  OTEL_EXPORTER_OTLP_METRICS_ENDPOINT: {{ .Values.config.otel.metrics.endpoint | quote }}
  OTEL_EXPORTER_OTLP_HEADERS: {{ .Values.config.otel.common.headers | quote }}
  OTEL_EXPORTER_OTLP_TRACES_HEADERS: {{ .Values.config.otel.traces.headers | quote }}
  OTEL_EXPORTER_OTLP_METRICS_HEADERS: {{ .Values.config.otel.metrics.headers | quote }}
  OTEL_EXPORTER_OTLP_COMPRESSION: {{ .Values.config.otel.common.compression | quote }}
  OTEL_EXPORTER_OTLP_TRACES_COMPRESSION: {{ .Values.config.otel.traces.compression | quote }}
  OTEL_EXPORTER_OTLP_METRICS_COMPRESSION: {{ .Values.config.otel.metrics.compression | quote }}
  OTEL_EXPORTER_OTLP_TIMEOUT: {{ .Values.config.otel.common.timeout | quote }}
  OTEL_EXPORTER_OTLP_TRACES_TIMEOUT: {{ .Values.config.otel.traces.timeout | quote }}
  OTEL_EXPORTER_OTLP_METRICS_TIMEOUT: {{ .Values.config.otel.metrics.timeout | quote }}
  OTEL_EXPORTER_OTLP_INSECURE: {{ .Values.config.otel.common.insecure | quote }}
  OTEL_EXPORTER_OTLP_TRACES_INSECURE: {{ .Values.config.otel.traces.insecure | quote }}
  OTEL_EXPORTER_OTLP_METRICS_INSECURE: {{ .Values.config.otel.metrics.insecure | quote }}
