image:
  repository: ghcr.io/wiremind/koherence
  pullPolicy: IfNotPresent
  tag: ""

tolerations: []

affinity: {}

hostPID: true

nodeSelector: {}

priorityClassName: ""

resources: {}

securityContext: {}

containerSecurityContext:
  privileged: true
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: true

provider:
  secret:
    create: true
    data: {}
    # Exemple for Openstack
    # OS_AUTH_URL: "https://dunno.org/"
    # OS_DOMAIN_ID: "default"
    # OS_PROJECT_ID: "007"
    # OS_PROJECT_NAME: "chocolatine"
    # OS_USERNAME: "user"
    # OS_PASSWORD: "password"
    # OS_REGION_NAME: "somewhere"
    # OS_INTERFACE: "public"
    # OS_IDENTITY_API_VERSION: "3"

metrics:
  enable: false
  image:
    repository: quay.io/prometheuscommunity/json-exporter
    tag: v0.6.0
    pullPolicy: IfNotPresent
  containerPorts:
    http: 7979
  resources: {}
    # requests:
    #   cpu: 10m
    #   memory: 64Mi
    # limits:
    #   cpu: 2
    #   memory: 512Mi
  livenessProbe:
    enabled: true
    initialDelaySeconds: 10
    periodSeconds: 10
    timeoutSeconds: 5
    successThreshold: 1
    failureThreshold: 5
  containerSecurityContext:
    capabilities:
      drop:
      - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 1000

prometheusRule:
  enabled: false
  rules: []
