{{- if .Values.nginxCustomConfig }}

apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ template "nginx.fullname" . }}
  labels:
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    app: {{ template "nginx.name" . }}
data:
  default.conf:
{{ toYaml .Values.nginxCustomConfig | indent 4 }}
{{- end }}
