# Default values for clair.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
replicaCount: 1
logLevel: debug
insecureTls: false
image:
  repository: quay.io/coreos/clair
  tag: v2.1.4
  pullPolicy: IfNotPresent
service:
  name: clair
  type: ClusterIP
  internalApiPort: 6060
  externalApiPort: 6060
  internalHealthPort: 6061
  externalHealthPort: 6061
ingress:
  enabled: false
  # Used to create Ingress record (should used with service.type: ClusterIP).
  hosts:
    - clair-clair
  annotations:
    # kubernetes.io/ingress.global-static-ip-name: "test-ip"
    # kubernetes.io/tls-acme: "true"
  tls:
    # Secrets must be manually created in the namespace.
    # - secretName: chart-example-tls
    #   hosts:
    #     - chart-example.local
resources:
  limits:
    cpu: 2
    memory: 3000Mi
  requests:
    cpu: 50m
    memory: 2000Mi
config:
  # postgresURI: "postgres://user:password@host:5432/postgres?sslmode=disable"
  # paginationKey: "XxoPtCUzrUv4JV5dS+yQ+MdW7yLEJnRMwigVY/bpgtQ="
  updateInterval: 2h
  # notificationWebhookEndpoint: https://example.com/notify/me
  enabledUpdaters:
  - debian
  - ubuntu
  - rhel
  - oracle
  - alpine
  enabledNamespaceDetectors:
  - os-release
  - lsb-release
  - apt-sources
  - alpine-release
  - redhat-release
  enabledFeatureListers:
  - apk
  - dpkg
  - rpm
# Configuration values for the postgresql dependency.
# ref: https://github.com/kubernetes/charts/blob/master/stable/postgresql/README.md
postgresql:
# The dependant Postgres chart can be disabled, to connect to
# an existing database by defining config.postgresURI
  enabled: true
  image:
    debug: true
  resources:
    requests:
      cpu: 50m
      memory: 512Mi
    limits:
      cpu: 2
      memory: 512Mi
  postgresqlUsername: postgres
  postgresqlPassword: clair
  persistence:
    size: 1Gi
  networkPolicy:
    enabled: true
