{{- if .Values.historical.enabled }}

{{- range $tierName, $tierValue := .Values.historical.tiers }}
{{- if $tierValue.podDisruptionBudget }}
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: {{ include "druid.historical.fullname" (dict "tierName" $tierName "context" $) }}
  labels:
{{ include "druid.common-labels" $ | indent 4 }}
    app.kubernetes.io/part-of: historical
    app.kubernetes.io/component: historical-{{ $tierName }}
spec:
  selector:
    matchLabels:
{{ include "druid.common-matchLabels" $ | indent 6 }}
      app.kubernetes.io/part-of: historical
      app.kubernetes.io/component: historical-{{ $tierName }}
{{ toYaml $tierValue.podDisruptionBudget | indent 2 }}
---
{{- end }}
{{- end }}

{{- end }}