{{- if .Values.historical.enabled }}

{{- range $tierName, $tierValue := .Values.historical.tiers }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "druid.historical.fullname" (dict "tierName" $tierName "context" $) }}
  labels:
{{ include "druid.common-labels" $ | indent 4 }}
    app.kubernetes.io/part-of: historical
    app.kubernetes.io/component: historical-{{ $tierName }}
spec:
  type: ClusterIP
  ports:
    - port: 8083
      targetPort: http
      protocol: TCP
      name: http
  selector:
{{ include "druid.common-matchLabels" $ | indent 4 }}
    app.kubernetes.io/part-of: historical
    app.kubernetes.io/component: historical-{{ $tierName }}
---
{{- end }}

{{- end }}