{{- if .Values.coordinator.enabled }}

kind: Secret
apiVersion: v1
metadata:
  name: {{ include "druid.coordinator.fullname" . }}-config
  labels:
{{ include "druid.common-labels" . | indent 4 }}
    app.kubernetes.io/component: {{ .Values.coordinator.name }}
stringData:
{{ toYaml .Values.coordinator.secretEnvVars | indent 2 }}

{{- end }}
