{{- if .Values.coordinator.enabled }}

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "druid.coordinator.fullname" . }}
  labels:
    {{- include "druid.common-labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ .Values.coordinator.name }}
  {{- with .Values.coordinator.annotations }}
  annotations: {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  {{- if not .Values.coordinator.autoscaling.enabled }}
  replicas: {{ .Values.coordinator.replicaCount }}
  {{- end }}
  podManagementPolicy: {{ .Values.coordinator.podManagementPolicy }}
  serviceName: {{ include "druid.coordinator.fullname" . }}
  updateStrategy: {{- toYaml .Values.coordinator.updateStrategy | nindent 4 }}
  selector:
    matchLabels:
      {{- include "druid.common-matchLabels" . | nindent 6 }}
      app.kubernetes.io/component: {{ .Values.coordinator.name }}
  template:
    metadata:
      labels:
        {{- include "druid.common-labels" . | nindent 8 }}
        app.kubernetes.io/component: {{ .Values.coordinator.name }}
      annotations:
        druid.k8s.enablePatching: "true"
        checksum/configmap: {{ include (print $.Template.BasePath "/configmap.yaml") $ | sha256sum }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") $ | sha256sum }}
        checksum/configmap-coordinator: {{ include (print $.Template.BasePath "/coordinator/configmap.yaml") $ | sha256sum }}
        checksum/secret-coordinator: {{ include (print $.Template.BasePath "/coordinator/secret.yaml") $ | sha256sum }}
        {{- with .Values.coordinator.podAnnotations }}
        {{ toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.coordinator.nodeSelector }}
      nodeSelector: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.coordinator.affinity }}
      affinity: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.coordinator.tolerations }}
      tolerations: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.coordinator.podSecurityContext }}
      securityContext: {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.coordinator.priorityClassName }}
      priorityClassName: {{ . }}
      {{- end }}
      {{- if .Values.coordinator.serviceAccount.create }}
      serviceAccountName: {{ include "druid.coordinator.serviceAccountName" . }}
      {{- end }}
      containers:
        - name: {{ include "druid.coordinator.fullname" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          {{- if .Values.coordinator.containerSecurityContext.enabled }}
          securityContext: {{- omit .Values.coordinator.containerSecurityContext "enabled" | toYaml | nindent 12 }}
          {{- end }}
          args: [ "coordinator" ]
          env:
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            - name: POD_NAMESPACE
              valueFrom:
                fieldRef:
                  fieldPath: metadata.namespace
            {{- if hasKey .Values.coordinator.service "resolveWithDNS" | ternary .Values.coordinator.service.resolveWithDNS .Values.service.resolveWithDNS }}
            - name: druid_host
              valueFrom:
                fieldRef:
                  fieldPath: metadata.name
            {{- end }}
            - name: druid_extensions_loadList
              value: {{ .Values.extensions.loadList | toJson | quote }}
          envFrom:
            - configMapRef:
                name: {{ include "druid.fullname" . }}-config
            - configMapRef:
                name: {{ include "druid.coordinator.fullname" . }}-config
            - secretRef:
                name: {{ include "druid.fullname" . }}-config
            - secretRef:
                name: {{ include "druid.coordinator.fullname" . }}-config
          ports:
            - name: http
              containerPort: {{ .Values.coordinator.port }}
              protocol: TCP
            {{- if .Values.metrics.enabled }}
            - name: http-metrics
              containerPort: {{ .Values.metrics.service.port }}
              protocol: TCP
            {{- end }}
          {{- if .Values.coordinator.livenessProbe.enabled }}
          livenessProbe: {{- omit .Values.coordinator.livenessProbe "enabled" | toYaml | nindent 12 }}
            httpGet:
              path: /status/health
              port: http
          {{- end }}
          {{- if .Values.coordinator.readinessProbe.enabled }}
          readinessProbe: {{- omit .Values.coordinator.readinessProbe "enabled" | toYaml | nindent 12 }}
            httpGet:
              path: /status/selfDiscovered
              port: http
          {{- end }}
          {{- with .Values.coordinator.resources }}
          resources: {{- toYaml . | nindent 12 }}
          {{- end }}

{{- end }}
