apiVersion: v1
kind: Service
metadata:
  name: {{ include "scrapoxy.fullname" . }}
  labels:
{{ include "scrapoxy.labels" . | indent 4 }}
spec:
  type: {{  .Values.service.type }}
  ports:
    - port: {{ .Values.config.commander.port }}
      targetPort: {{ .Values.config.commander.port }}
      protocol: TCP
      name: commander
    - port: {{ .Values.config.proxy.port }}
      targetPort: {{ .Values.config.proxy.port }}
      protocol: TCP
      name: proxy
  selector:
    app.kubernetes.io/name: {{ include "scrapoxy.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
