{{- if and .Values.alembic.externalSecrets.enabled .Values.alembic.enabled -}}
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ template "chartreuse.fullname" . }}
  labels:
    app: {{ template "chartreuse.name" . }}
    chart: {{ template "chartreuse.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
spec:
  target:
    name: {{ template "chartreuse.fullname" . }}
    template:
      engineVersion: v2
      data:
        CHARTREUSE_ALEMBIC_URL: {{ template "chartreuse.alembic.url" . }}
        PG_ISREADY_CHARTREUSE_ALEMBIC_URL: {{ .Values.chartreuse.pg_isready_chartreuse_alembic_url | default (template "chartreuse.alembic.url" . ) }}
  data:
  - secretKey: password
    remoteRef:
      key: {{ .Values.alembic.externalSecrets.passwordRemoteRefKey }}
    sourceRef:
      storeRef:
        name: {{ .Values.alembic.externalSecrets.storeRef.name }}
        kind: {{ .Values.alembic.externalSecrets.storeRef.kind }}
{{- end -}}
