# Default values for grafana-pdf-export.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.
image:
  repository: francoisminaud/grafana-pdf-export
  tag: v1.11
  pullPolicy: IfNotPresent
resources:
  limits:
    cpu: 1
    memory: 2Gi
  requests:
    cpu: 1
    memory: 2Gi
config:
  uploadToAWS:
    enabled: false
  secretEnvVars:
    AWS_ACCESS_KEY_ID: SETME
    AWS_SECRET_ACCESS_KEY: SETME
    AWS_BUCKET_NAME: SETME
    GRAFANA_USER: SETME
    GRAFANA_PASSWORD: SETME
    SENDGRID_API_KEY: SETME
  # Standalone means that a grafana pdf exported pod will be created for "ondemand" exports
  standalone:
    enabled: true
  cronJobs:
    enabled: true

# Dashboard URLs, please make sure to format it well:
#  TODO: Improve it
#  Date should be formatted in a certain way from=xxx&to=xxx&kiosk in order to parse and replace dates easily
#  exemple: from=1234587m&to=1654789&kiosk
#
# As for the dashboard output, it should be formatted in a certain way : +from_1234587m+to_1654789+kiosk
# A human readable date  (eg from_2021-06-01m+to_2021-06-30+kiosk) will be used so that dashboard are easier to find and classify
# All suggestions to make it smoother are welcome
# Crontab guru: https://crontab.guru
cronjob:
  - name: my-first-cron
    # schedule the export at 6AM the first day of each month
    schedule: "0 6 1 * *"
    monthly: true
    dashboard_in: "https://xxxxxx/d/prometheus-blackbox-exporter/prometheus-blackbox-exporter?orgId=1&from=1619820000000&to=1622498399000&kiosk"
    dashboard_out: "output.pdf"
    emailRecipient: "platform@wiremind.io"
    emailSenderEmail: "platform@wiremind.io"
    emailSenderName: "Wiremind Platform"
    emailSubject: "Wiremind Pod Dashboard"
    emailBody: "Here is the monthly dashboard"
  - name: my-second-cron
    # schedule the export at 6AM the first day of each month
    schedule: "0 6 1 * *"
    monthly: true
    dashboard_in: "https://xxxxxx/d/prometheus-blackbox-exporter/prometheus-blackbox-exporter?orgId=1&from=1619820000000&to=1622498399000&kiosk"
    dashboard_out: "output.pdf"
    emailRecipient: "platform@wiremind.io"
    emailSenderEmail: "platform@wiremind.io"
    emailSenderName: "Wiremind Platform"
    emailSubject: "Wiremind Pod Dashboard"
    emailBody: "Here is the monthly dashboard"
