image:
  repository: moby/buildkit
  pullPolicy: IfNotPresent
  tag: ""

# User 1000 is used in official images
user:
  name: "user"
  uid: 1000
  gid: 1000

nameOverride: ""
fullnameOverride: ""

resources: {}
#  requests:
#    cpu: "100m"
#    memory: 1Gi
#  limits:
#    cpu: "1"
#    memory: 2Gi

extraArgs: []

replicaCount: 1

env: {}

persistence:
  size: "1Gi"
  storageClass: ""
  accessModes: "ReadWriteOnce"

priorityClassName: ""

nodeSelector: {}

tolerations: []

affinity: {}

config:
  debug: false
  port: 12345
  gc:
    enabled: true
    keepstoragePercentage: 0.90
    policies:
      - keepDuration: '"48h"'
        keepBytes: '"100MB"'
        filters: ['"type==source.local"', '"type==exec.cachemount"', '"type==source.git.checkout"']
      - all: true
        keepDuration: ""
        keepBytes: ""
        filters: []
  workerOci:
    enabled: true
    selinux: false
    platforms: ['"linux/amd64"']
    snapshotter: "auto"
    maxParallelism: ""
  history:
    maxAge: 172800
    maxEntries: 50

livenessProbe:
  initialDelaySeconds: 5
  periodSeconds: 30
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 5

readinessProbe:
  initialDelaySeconds: 5
  periodSeconds: 30
  timeoutSeconds: 5
  successThreshold: 1
  failureThreshold: 5

startupProbe:
  retries: 60

extraSecurityContext: {}
