replicaCount: 1
revisionHistoryLimit: 3

image:
  repository: lmenezes/cerebro
  # Note: when updating the version, ensure `config` and the ConfigMap are kept
  # in sync with the default configuration of the upstream image
  tag: 0.9.4
  pullPolicy: IfNotPresent
  # pullSecrets:

deployment:
  labels: {}
  annotations: {}
  podLabels: {}
  podAnnotations: {}
  livenessProbe:
    enabled: true
  readinessProbe:
    enabled: true

service:
  type: ClusterIP
  port: 80
  annotations: {}
  labels: {}

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  labels: {}
  path: /
  hosts:
    - chart-example.local
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000

priorityClassName: ""

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

env:
  # AUTH_TYPE: "basic"
  # BASIC_AUTH_USER: "admin"

# Reference to a Secret object with environment variables
# envFromSecretRef: 'my-secret-ref'

# if config is coming from a k8s secret, give the secret name
# configFromSecertRef: 'my-secret-config-name'

config:
  basePath: '/'
  restHistorySize: 50
  hosts: []
  #  - host:
  #    name:

  # Secret used to sign session cookies. If empty it will be replaced with a
  # random 64 length string
  secret: ''
  tlsVerify: true
  ## CA cert to use for cert validation
  # tlsCaCert: /opt/cerebro/conf/certs/ca.crt

# volumeMounts:
#   - mountPath: /opt/cerebro/conf/certs/
#     name: ca_cert_volume
#     readOnly: true
# volumes:
#   - name: ca_cert_volume
#     secret:
#       defaultMode: 420
#       optional: false
#       secretName: cerebro_ca_cert_secret
