{{- if .Values.broker.enabled }}

kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "druid.broker.fullname" . }}-config
  labels:
    {{- include "druid.common-labels" . | nindent 4 }}
    app.kubernetes.io/component: {{ .Values.broker.name }}
data:
  {{- with .Values.broker.envVars }}
  {{- toYaml . | nindent 2 }}
  {{- end }}

{{- end }}
