# Default values for marge.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: hiboxsystems/marge-bot
  pullPolicy: IfNotPresent
  # Use Chart.appVersion if empty
  tag: ""

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

podSecurityContext: {}
  # fsGroup: 2000

securityContext:
  runAsNonRoot: true
  runAsUser: 1000
  runAsGroup: 1000
  fsGroup: 1000
  allowPrivilegeEscalation: false
  privileged: false
  readOnlyRootFilesystem: true
  capabilities:
    drop:
      - ALL

priorityClassName: ""

livenessProbe:
  enabled: false
  exec:
    command:
      - pidof
      - python

readinessProbe:
  enabled: false
  exec:
    command:
      - pidof
      - python

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

configmap:
  enable: false
  name: marge-bot-env
  content:
    MARGE_GITLAB_URL: "gitlab.com"
    MARGE_REBASE_REMOTELY: "false"
    MARGE_GIT_TIMEOUT: "600s"
    MARGE_BATCH: "false"

secret:
  create: true
  name: marge-bot-secret
  gitlabUrl: "https://gitlab.com"
  # ssh private key must already be in base64 format, use this command on
  # yours: base64 -w0 <my_private_key>
  sshKey: ""
  authToken: ""
  rebaseRemotely: "false"
  batch: "false"

volumeMounts:
  - name: tmp
    mountPath: /tmp

volumes:
  - name: tmp
    emptyDir:
      medium: Memory
      sizeLimit: 1Gi
