nameOverride: ""
fullnameOverride: ""

createSecrets: true

image:
  repository: docker.wiremind.fr/wiremind/devops/cluster-manager
  pullPolicy: "IfNotPresent"
  tag: ""

imagePullSecrets: []

priorityClassName: ""

rootCommand: "cluster-manager"

cronJob:
  schedule: "0 10 * * *"
  timeZone: ""
  startingDeadlineSeconds: 600
  concurrencyPolicy: Forbid
  suspend: ""
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  backoffLimit: "0"
  ttlSecondsAfterFinished: ""

cronJobs: {}
  # GCInvalidPods:
  #   command:
  #     - garbage-collector
  #     - kube-scheduler-invalid-pods
  #   schedule: "*/10 * * * *"

deployments: {}
  # metricsReleases:
  #   command:
  #     - metrics-collector
  #     - releases
  #   resources:
  #     requests:
  #       cpu: 1000m
  #       memory: 512Mi
  #   extraEnv:
  #     - name: GOMAXPROCS
  #       valueFrom:
  #         resourceFieldRef:
  #           resource: limits.cpu
  #     - name: GOMEMLIMIT
  #       valueFrom:
  #         resourceFieldRef:
  #           resource: limits.memory
  #   secretEnvVars:
  #     MYSECRETVALUE: "1"

metrics:
  enabled: false
  prometheusRule:
    enabled: false
    additionalRules: []

nodeSelector: {}

tolerations: []

affinity: {}

resources: {}

securityContext: {}

serviceAccount:
  create: true
  name: ""

rbac:
  create: true
