{{- if and .Values.postgresql.enabled .Values.postgresql.backup.s3.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "druid.postgresql-s3-backup.fullname" . }}
  labels:
{{ include "druid.common-labels" . | indent 4 }}
    app.kubernetes.io/component: {{ .Values.postgresql.backup.s3.cronJob.name }}
type: Opaque
stringData:
  PG_HOST: {{ .Release.Name }}-postgresql
  PG_PORT: "5432"
  PG_USER: {{ .Values.postgresql.auth.username | quote }}
  PGPASSWORD: {{ .Values.postgresql.auth.password | quote }}
  PG_DATABASES: {{ .Values.postgresql.auth.database | quote }}
  DELETE_AFTER: {{ .Values.postgresql.backup.s3.awsConfig.retention | quote }}
  AWS_SECRET_ACCESS_KEY: {{ .Values.postgresql.backup.s3.awsConfig.secretAccessKey | quote }}
  AWS_ACCESS_KEY_ID: {{ .Values.postgresql.backup.s3.awsConfig.accessKeyId | quote }}
  S3_PATH: {{ .Values.postgresql.backup.s3.awsConfig.bucketName | quote }}
  AWS_DEFAULT_REGION: {{ .Values.postgresql.backup.s3.awsConfig.region | quote }}
{{- end }}
